body{
    font-family:Almarai ;
}

.dcard .read-more:hover{
    font-size: 14px;
}

.dcard:hover{
    box-shadow: 8px 8px 8px 8px rgb(1, 30, 1);
    transform: scale(1,1.5);
}

.dcard1:hover{
    box-shadow: 8px 8px 8px 8px green;
    transform: scale(1,1.5);
}
.dcard{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: .2s;
    margin: 3rem;
}
.dcard1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: .2s;
    margin: 3rem;
}

#image{
  position: absolute;
  top:calc(80% - 300px);
  right: 60%;
  z-index:999

}


#image img{
    height: 600px;
}



